
/* CARD */

.card-dark{
    background: #f8fafc;

    border-radius: 16px;

    padding: 30px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.25);

    color: #000000;
}

/* VIDEO TITLE */

.video-title{
    text-align: center;

    font-size: 42px;
    font-weight: 300;

    margin-bottom: 35px;

    color: #000000;
}

/* VIDEO CONTAINER */

.video-container{
    width: 700px;
    height: 400px;

    background: #243447;

    margin: auto;

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* PLAY BUTTON */

.play-button{
    width: 110px;
    height: 110px;

    background: #111827;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: 0.3s;
}

.play-button:hover{
    transform: scale(1.05);
}

.play-button i{
    font-size: 42px;

    color: #2563eb;

    margin-left: 5px;
}

/* BUTTONS */

.video-buttons{
    display: flex;

    justify-content: space-between;

    margin-top: 35px;
}

.video-buttons button{
    width: 180px;

    border: none;

    background: #2563eb;

    color: white;

    padding: 12px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 14px;

    transition: 0.3s;
}

.video-buttons button:hover{
    background: #1d4ed8;
}

.training-item{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.training-item input{
    width: 18px;
    height: 18px;
}

/* RESPONSIVIDADE */

@media(max-width: 900px){

    .video-container{
        width: 100%;
        height: 260px;
    }

    .video-title{
        font-size: 30px;
    }

    .video-buttons{
        flex-direction: column;
        gap: 15px;
    }

    .video-buttons button{
        width: 100%;
    }

    .sidebar{
        width: 60px;
    }

    .menu-item{
        width: 38px;
        height: 38px;
        font-size: 15px;
    }
}
